@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");

html {
  line-height: 1.15;
}

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "RocknRoll One", sans-serif;
} */

body {
  background: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll; /* Mengaktifkan scroll vertikal (scroll y) */
  /* color: #3A4D39; */
}

/* background */
.App {
  display: flex;
  flex-direction: column;
  color: #3a4d39;
  /* background: #0174BE; */
  justify-content: center; /* Agar elemen berada di tengah secara vertikal */
  align-items: center; /* Agar elemen berada di tengah secara horizontal */
  margin: 0 10rem; /* Memberikan margin di sebelah kiri dan kanan */
  height: Screen;
}

/* what the plan for today */
.App h1 {
  display: inline;
  text-align: center;
  margin-bottom: 2rem;
  color: #000000;

  /* text-shadow: 0 0 5px #433aa8, 3px -1px 5px #ece3ce; */
}

/* input */
.addTodos {
  display: flex;
  justify-content: center;
  /* color: #000000; */
}
/* dalamnya input */
.todo-input {
  min-width: 15rem;
  width: 40vw;
  /* background: black; */
  max-height: 2.5rem;
  /* background-color: #e1ebfd; */
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;

  align-self: center;
}

.todo-input:focus {
  outline: none;
  border: 2px solid rgb(67, 58, 168);
}

.add-btn {
  margin-left: 1rem;
  /* background-color: #0174be; */
  color: white;
  font-size: 1.5rem;
  width: 3.2rem;
  height: 2.4rem;
  cursor: pointer;
  background: #b15eff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  box-shadow: none; /* Menghilangkan shadow */
}
/* ketika di tekan */
.button.all {
  background-color: #03c988;
}

.button.active {
  background-color: #03c988;
}

.button.completed {
  background-color: #03c988;
}

.add-btn:focus {
  outline: none;
  background-color: #0174be;
}

.displaytodos {
  margin-top: 3rem;
  /* display: flex;
  flex-direction: column; */
  align-items: center;

  /* margin: 0 10rem; Memberikan margin di sebelah kiri dan kanan */
}

/* .displaytodos .buttons {
  margin-bottom: 2rem;
  margin-top: 2rem;
} */

.displaytodos .buttons button {
  margin: 0.5rem;
  padding: 0.5rem 1.2rem;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}

.displaytodos .buttons button:focus {
  outline: none;
}

.displaytodos .buttons button:not(:last-child) {
  margin-right: 1rem;
}

/* .kotak {
  list-style: none;
  display: flex;
  align-self: flex-start;  
  flex-wrap: wrap;

} */
.border1 {
  border: 2px solid lightgray; /* Mengganti warna border menjadi merah */
  width: 350px;
  padding: 9px;
}
.form-checkbox {
  width: 30px; /* Sesuaikan lebar sesuai kebutuhan */
  height: 25px; /* Sesuaikan tinggi sesuai kebutuhan */
  padding: 5px; /* Sesuaikan padding sesuai kebutuhan */
  text-decoration: line-through;
}

.form-input {
  border: none;
}
.input-container {
  margin-right: 1rem;
  display: flex;
  align-items: center; /* Mengatur item secara vertikal di tengah */
  justify-content: center; /* Mengatur item secara horizontal di tengah */
  /* Tambahkan properti lain sesuai kebutuhan Anda */
}
.card {
  display: flex;
  flex-direction: column;
  /* border-color :  ; */

  /* margin:  1rem 1rem 0; */
  /* height: 4rem;
  width: 18rem; */
  border-radius: 0.5rem;
  padding: 0.5rem;

  /* position: relative;  */
}

.silang {
  margin-left: 10px;
  background: none;
  border: none;
  font-size: 24px;
  /* Sesuaikan ukuran ikon sesuai kebutuhan Anda */
}
/* .card textarea {
  padding: 0.5rem;
  border-radius: 8px;
  
  background-color: #e1ebfd;

  color: #271c6c;
  height: 70%;
} */
/* .card textarea:disabled {
  background-color: transparent;
} */

/* .card .btns {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
} */

.card .btns button {
  border-radius: 20%;
  border: none;
  margin: 0 0.6rem;
  font-size: 1.4rem;
  cursor: pointer;
  color: #ece3ce;
  /* background-color: transparent; */
}

.card.btns button:focus {
  outline: none;
}

/* done */

.completed {
  text-decoration: line-through; /* Menambahkan garis horizontal di bawah teks */
}

@media Screen and (min-width: 640px) {
  .displaytodos {
    overflow: hidden;
    margin-top: 2rem;
  }
  .kotak {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-left: 0;
    /* align-self: center; */
  }
  .card {
    margin-right: 0;
  }
}
