@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");

html {
  line-height: 1.15;
}



body {
  background: alice blue;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll; 
}


.App {
  display: flex;
  flex-direction: column;
  color: #3a4d39;
 
  justify-content: center; 
  align-items: center; 
  margin: 0 10rem;
  height: Screen;
}


.App h1 {
  display: inline;
  text-align: center;
  margin-bottom: 2rem;
  color: #000000;

  
}

/* input */
.addTodos {
  display: flex;
  justify-content: center;
  
}

.todo-input {
  min-width: 15rem;
  width: 40vw;
 
  max-height: 2.5rem;

  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;

  align-self: center;
}

.todo-input:focus {
  outline: none;
  border: 2px solid rgb(67, 58, 168);
}

.add-btn {
  margin-left: 1rem;
  color: white;
  font-size: 1.5rem;
  width: 3.2rem;
  height: 2.4rem;
  cursor: pointer;
  background: #b15eff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  box-shadow: none; 
}

.button.all {
  background-color: #03c988;
}

.button.active {
  background-color: #03c988;
}

.button.completed {
  background-color: #03c988;
}

.add-btn:focus {
  outline: none;
  background-color: #0174be;
}

.displaytodos {
  margin-top: 3rem;
  align-items: center;

  
}



.displaytodos .buttons button {
  margin: 0.5rem;
  padding: 0.5rem 1.2rem;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}

.displaytodos .buttons button:focus {
  outline: none;
}

.displaytodos .buttons button:not(:last-child) {
  margin-right: 1rem;
}


.border1 {
  border: 2px solid lightgray; 
  width: 350px;
  padding: 9px;
}
.form-checkbox {
  width: 30px; 
  height: 25px; 
  padding: 5px;
  text-decoration: line-through;
}

.form-input {
  border: none;
}
.input-container {
  margin-right: 1rem;
  display: flex;
  align-items: center; 
  justify-content: center; 

}
.card {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  padding: 0.5rem;

}

.silang {
  margin-left: 10px;
  background: none;
  border: none;
  font-size: 24px;
  
}


.card .btns button {
  border-radius: 20%;
  border: none;
  margin: 0 0.6rem;
  font-size: 1.4rem;
  cursor: pointer;
  color: #ece3ce;
  
}

.card.btns button:focus {
  outline: none;
}



.completed {
  text-decoration: line-through; 
}

@media Screen and (min-width: 640px) {
  .displaytodos {
    overflow: hidden;
    margin-top: 2rem;
  }
  .kotak {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-left: 0;
    /* align-self: center; */
  }
  .card {
    margin-right: 0;
  }
}
